@charset "utf-8";
$color-text: #5A5A5A;
$color-main: #ED145B;
$color-title: #2B2B2B;
$color-second: #EDAA14;

$breakpoints: (
    "tablet": "screen and (min-width: 640px)",
    "desktop": "screen and (min-width: 900px)",
    "full": "screen and (min-width: 1200px)",
    ) !default;

@mixin m-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-inner($w: 90%, $mw: 900px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin m-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@mixin m-title() {
    margin-bottom: 50px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    line-height: (46/38
    );
color: $color-title;
}

body {
    font-size: 14px;
    font-family: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
    line-height: (24/14);
    letter-spacing: (25em/1000);
    color: $color-text;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/*header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #000;

    &__inner {
        @include m-inner();
        @include m-flex();
    }
}

/*footer*/
.footer {
    padding: 60px 0 180px;
    background-color: #000;
    color: #fff;

    &__inner {
        @include m-inner();
    }
}

/*nav*/
.nav {
    &__list {
        @include m-flex();
    }

    &__item {
        margin-left: 30px;
        font-weight: bold;
        color: #fff;
    }

    &__active {
        color: $color-main;
    }
}

/*post*/
.post {
    &__pic {
        margin-bottom: 25px;
    }

    &__title {
        width: 237px;
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: (20/16);
        color: #fff;
        background-color: #000;
    }

    &__text {
        margin-bottom: 60px;

        &_:last-child {
            margin-bottom: 0;
        }
    }
}

/*btn*/
.btn {
    display: inline-block;
    width: 200px;
    padding: 16px 0;
    font-weight: bold;
    text-align: center;
    background-color: #ED145B;
    color: #fff;
}

.mobile {
    display: block;
}

.pc {
    display: none;
}

@media (min-width:800px) {
    .mobile {
        display: none;
    }

    .pc {
        display: block;
    }
}

/* index.html
-----------------------*/
/*about*/
.about {
    margin-bottom: 80px;
    padding: 250px 0 150px;
    background: url(../images/bg_mainvisual.png) no-repeat center center /cover;

    @include m-query(desktop) {
        padding: 280px 0 180px;
    }

    &__inner {
        @include m-inner();
    }

    &__title {
        margin-bottom: 40px;
        font-size: 46px;
        font-weight: bold;
        line-height: (55/46);
        color: #fff;
    }

    &__text {
        margin-bottom: 80px;
        color: #fff;
    }

    &__active {
        color: #ED145B;
    }

    @include m-query(desktop) {
        text-align: center;
    }
}

/*updates*/
.updates {
    margin-bottom: 80px;

    &__inner {
        @include m-inner();
    }

    &__title {
        @include m-title();
    }

    &__list {
        @include m-query(desktop) {
            @include m-flex();
            margin-bottom: -60px;
        }
    }

    &__item {
        img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;

            @include m-query(desktop) {
                aspect-ratio: 4/3;
            }
        }

        @include m-query(desktop) {
            width: (260/900)*100%;
        }
    }
}

/*about.html
-----------------------*/
.services {
    margin: 180px 0 80px;

    &__inner {
        @include m-inner();
    }

    &__title {
        @include m-title();
    }

    &__list {
        @include m-query(desktop) {
            margin-bottom: -80px;
            @include m-flex();
        }
    }

    &__item {
        margin-bottom: 60px;

        img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;

            @include m-query(desktop) {
                aspect-ratio: 4/3;
            }
        }

        &:nth-child(odd) {
            .post__title {
                margin-left: auto;

                @include m-query(desktop) {
                    margin-left: 0%;
                }
            }
        }

        @include m-query(desktop) {
            width: (420/900)*100%;
        }
    }
}

/*testimonials*/
.testimonials {
    padding: 80px 0;
    background: url(../images/bg_testimonials.png) no-repeat center center /cover;

    &__inner {
        @include m-inner();
        padding: 50px 50px;
        text-align: center;
        background-color: #fff;
    }

    &__title {
        @include m-title();
    }

    &__pic {
        margin-bottom: 37px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__domain {
        margin-bottom: 40px;
    }

    .btn--second {
        margin-left: auto;
        margin-right: auto;
        background-color: $color-second;
    }
}